body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.top-section{
    height: 400px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 5%;
}
.orange-color{
    color: orange;
}
.left-bordered{
    font-family: 'Playfair Display', serif;
    border-image: linear-gradient(rgb(240, 77, 13), rgb(161, 27, 4));
    border-left: 3px solid;
    border-radius: 10px;
    border-image-slice: 1;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(240, 77, 13), rgb(161, 27, 4));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
div img{
    width: 70%;
    height: 100%;
}

.mission-heading{
    text-align: center;
}
.mission-elements{
    display: flex;
    height: 400px;
    padding-left: 15%;
}
.three-box{
    width: 25%;
    height: 80%;
    background-color: greenyellow;
    padding-left: 15px;
    margin-left: 20px;
    border-radius: 20px;
}
.three-box img{
    height: 30%;
    width: 40%;
}

#mission{
    background-color: lightcyan;
}
#vission{
    background-color:honeydew;
}
#goals{
    background-color:rgba(255, 217, 222, 0.705);
}

.develop-section{
    display: flex;
    padding-left: 5%;
}
.develop-img{
    width: 40%;
    padding-left: 80px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;    
    background-position:left;
    background-size: 200px;
}
.develop-content{
    width: 50%;
}